/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
body {
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
    font-size: 18 px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vh;
    




}




/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    justify-content: space-between;
    
    
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    box-shadow: 1px 0px 20px rgb(150, 148, 148);
    font-size: 30px;
    text-align: center;
}

.logo img{
    height: 70px;
    display: flex;
    width: 300px;
}

.logo{
    display: flex;
}

.primero img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-top: 30px;

}

h1{
    font-size: 36px;
}


.boton{
    display: flex;
    margin: 10px 10px;
    border: #080808;
    border-radius: 30px;
    background-color: #af599e;
    text-align: center;
    font-size: 20px;
    color: #fbfbfb;
    margin-left: 270px;
    text-align: center;
    width: 200px;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;

}
 
h2{
    font-size: 28px;
    margin-top: 4%;
}    

p{
    line-height: 1,2%;
    margin: 20px 20px;
}

.segundo {
    text-align: center;
    background-color: rgba(175, 89, 158, 0.3);
    margin-bottom: 60px;
    height: auto;
    width: 97%;
    border-radius: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10px;
    

}

.logos-sociales{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logos-sociales img {
    max-width: 70px;
}

.logos-sociales img:hover {
    border: 1px solid grey;
    border-radius: 50px;
    margin-bottom: 90px;

}

footer{
    background-color: #af599e;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #fbfbfb;
    height: 90px;
    justify-content: center;
    margin-top: 40px;
}
